In [137]:
import pandas as pd
import openpyxl

In [143]:
names = pd.read_excel("common_names.xlsx", sheet_name = "Hoja1", engine='openpyxl')

In [144]:
names

                                                   NAMES  scientific  common
0      N=Aedes albopictus densovirus (isolate Boublik...         NaN     NaN
1                                               C=AalDNV         NaN     NaN
2                             N=Adeno-associated virus 2         NaN     NaN
3                                                C=AAV-2         NaN     NaN
4      N=Adeno-associated virus 2 (isolate Srivastava...         NaN     NaN
...                                                  ...         ...     ...
47936                                                NaN         NaN     NaN
47937  ----------------------------------------------...         NaN     NaN
47938  e UniProt Consortium, see https://www.uniprot....         NaN     NaN
47939  the Creative Commons Attribution (CC BY 4.0) L...         NaN     NaN
47940  ----------------------------------------------...         NaN     NaN

[47941 rows x 3 columns]

In [146]:
df = names.iloc[0:5]
df

                                               NAMES  scientific  common
0  N=Aedes albopictus densovirus (isolate Boublik...         NaN     NaN
1                                           C=AalDNV         NaN     NaN
2                         N=Adeno-associated virus 2         NaN     NaN
3                                            C=AAV-2         NaN     NaN
4  N=Adeno-associated virus 2 (isolate Srivastava...         NaN     NaN

In [154]:
for i in range(0,5):
    if df['NAMES'][i].startswith('N'):
        if df["NAMES"][i+1].starStwith('C')

0
2
4

In [ ]:
names = names.dropna()

In [114]:
names = names.drop("scientific", axis=1)
names

KeyError: "['scientific'] not found in axis"

In [82]:
names_sep = pd.DataFrame()
names_sep["scientific"] = names[names.apply(lambda x: x.str.startswith("N"))]
names_sep["common"] = names[names.apply(lambda x: x.str.startswith("C"))]

In [88]:
names_sep = names_sep.dropna(how="all").fillna("unknown")

In [113]:
len(names_sep[names_sep["common"] == "unknown"]["common"])

27305

In [97]:
names_sep.to_excel('names_sep.xlsx', index=False)
names_sep

                                              scientific    common
0      N=Aedes albopictus densovirus (isolate Boublik...   unknown
1                                                unknown  C=AalDNV
2                             N=Adeno-associated virus 2   unknown
3                                                unknown   C=AAV-2
4      N=Adeno-associated virus 2 (isolate Srivastava...   unknown
...                                                  ...       ...
58430                                           N=Vibrio   unknown
58431                                    N=Viridiplantae   unknown
58432                                          N=Viruses   unknown
58433                                      N=Xanthomonas   unknown
58434                                             N=root   unknown

[47930 rows x 2 columns]