### Data Cleaning continued

In [2]:
# Continuing in a new notebook with saved df after Wed-Thu's work

### Importing libraries

In [16]:
import pandas as pd

### Importing data

In [167]:
iucn_df = pd.read_csv('data/iucn_df_day2.csv')

In [168]:
iucn_df = iucn_df.drop(['Unnamed: 0'], axis = 1)
#dropping the unnamed axis

In [171]:
iucn_df

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes
...,...,...,...,...,...,...,...,...,...,...
19833,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals
19834,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals
19835,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals
19836,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals
19837,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals

### Cleaning the assessment date

In [170]:
iucn_df['assessment_date'] = iucn_df['assessment_date'].astype(str).str[:4]
#code only keeps the first 4 letters in a string and removes the rest

### Checking for NaN's in columns, cnt

In [21]:
iucn_df['assessment_date'].isna().sum()

0

In [22]:
iucn_df['systems'].isna().sum()

0

In [23]:
iucn_df['region'].isna().sum()

1452

In [24]:
iucn_df['habitat'].isna().sum()

3

In [25]:
iucn_df['phylum_name'].isna().sum()

0

In [26]:
iucn_df['class_name'].isna().sum()

0

In [27]:
# checking what the habitat looks like by looking at the nan values 
filtered_df = iucn_df[iucn_df['habitat'].isna()]

In [28]:
filtered_df

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name
19328,Crocodylus niloticus,Vulnerable,2017,2017,Decreasing,Freshwater & Marine,Afrotropical,NaN,Vertebrates,Reptiles
19700,Felis silvestris,Endangered,2018,2018,Decreasing,Terrestrial,Afrotropical|Palearctic,NaN,Vertebrates,Mammals
19814,Bubo milesi,Endangered,2019,2019,Unknown,Terrestrial,Afrotropical,NaN,Vertebrates,Birds

In [82]:
iucn_df['scientific_name'].value_counts()

Carcharias taurus         9
Anguilla anguilla         9
Pseudamnicola conovula    9
Afronandus sheljuzhkoi    9
Oxynotus centrina         9
                         ..
Etheostoma nuchale        1
Etheostoma nianguae       1
Etheostoma moorei         1
Etheostoma maculatum      1
Loxodonta africana        1
Name: scientific_name, Length: 18721, dtype: int64

In [111]:
iucn_df_1 = iucn_df.drop_duplicates(keep='first')

In [112]:
iucn_df_1['scientific_name'].value_counts()

Carcharias taurus         3
Anguilla anguilla         3
Pseudamnicola conovula    3
Afronandus sheljuzhkoi    3
Oxynotus centrina         3
                         ..
Etheostoma nianguae       1
Etheostoma moorei         1
Etheostoma maculatum      1
Etheostoma fonticola      1
Loxodonta africana        1
Name: scientific_name, Length: 18721, dtype: int64

In [113]:
iucn_df_2 = iucn_df_1.drop_duplicates(subset=['scientific_name'], keep=False)

In [115]:
iucn_df_2['scientific_name'].value_counts()

Hexanchus griseus           1
Ctenotus kurnbudj           1
Treron aromaticus           1
Asthenes hudsoni            1
Phapitreron maculipectus    1
                           ..
Tarentola raziana           1
Tarentola gigas             1
Tarentola boavistensis      1
Gastropholis prasina        1
Loxodonta africana          1
Name: scientific_name, Length: 18454, dtype: int64

In [116]:
iucn_df_2

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes
...,...,...,...,...,...,...,...,...,...,...
19833,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals
19834,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals
19835,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals
19836,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals
19837,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals

In [25]:
#checking what region looks like
iucn_df['region'].value_counts()

Neotropical                                                            4751
Palearctic                                                             3351
Afrotropical                                                           3080
Indomalayan                                                            2906
Australasian                                                           1702
                                                                       ...
Indomalayan|Nearctic|Neotropical|Oceanian|Palearctic                      1
Australasian|Indomalayan|Oceanian                                         1
Afrotropical|Antarctic|Australasian|Neotropical|Oceanian|Palearctic       1
Antarctic|Australasian                                                    1
Afrotropical|Australasian|Indomalayan|Neotropical                         1
Name: region, Length: 64, dtype: int64

In [117]:
iucn_df_2.to_csv('data/iucn_df_day3_final.csv')

In [86]:
df_2 = pd.read_csv('data/comptab.csv')

In [87]:
df_2.columns

Index(['Year', 'App.', 'Taxon', 'Class', 'Order', 'Family', 'Genus',
       'Importer', 'Exporter', 'Origin', 'Importer reported quantity',
       'Exporter reported quantity', 'Term', 'Unit', 'Purpose', 'Source'],
      dtype='object')

In [88]:
df_2 = df_2.drop(['Year', 'App.','Class','Order',
                              'Genus', 'Importer reported quantity', 'Term', 'Unit', 'Purpose',
                              'Source', 'Exporter reported quantity','Importer', 'Family'], axis = 1)

In [89]:
df_2.columns

Index(['Taxon', 'Exporter', 'Origin'], dtype='object')

In [156]:
def rename_columns_df2(x):
    x.rename(columns={'Taxon':'scientific_name'}, inplace=True )
    return x

In [91]:
df_2 = rename_columns_df2(df_2)

In [133]:
df_2.head()

        scientific_name Exporter
0        Aquila heliaca       NL
1        Aquila heliaca       RS
2  Haliaeetus albicilla       NO
4  Haliaeetus albicilla       IS
5  Haliaeetus albicilla       RS

In [94]:
df_2 = df_2.drop(['Origin'], axis = 1)

In [100]:
df_2['scientific_name'].value_counts()

Alligator mississippiensis    86
Psittacus erithacus           72
Crocodylus niloticus          71
Python reticulatus            62
Loxodonta africana            60
                              ..
Bulbophyllum involutum         1
Bulbophyllum ipanemense        1
Bulbophyllum jolandae          1
Bulbophyllum khaoyaiense       1
Threnetes niger                1
Name: scientific_name, Length: 6382, dtype: int64

In [31]:
df_2.to_csv('data/df_2.csv')

In [99]:
df_2 = df_2.drop_duplicates()

In [101]:
df3 = df_2.drop_duplicates(keep='first')

In [105]:
df3['scientific_name'].value_counts()

Harpia harpyja           1
Lycaste reichenbachii    1
Lycaste cruenta          1
Lycaste deppei           1
Lycaste guatemalensis    1
                        ..
Aloe viridiflora         1
Aloe woodii              1
Eos cyanogenia           1
Eos semilarvata          1
Threnetes niger          1
Name: scientific_name, Length: 3500, dtype: int64

In [120]:
df3

                scientific_name Exporter
6                Harpia harpyja       FR
9        Acipenser brevirostrum       DE
10             Acipenser sturio       IR
20           Alligator sinensis       CN
24         Asarcornis scutulata       JE
...                         ...      ...
67140  Phaethornis atrimentalis       PE
67142      Phaethornis hispidus       PE
67143       Phaethornis malaris       PE
67144         Phaethornis ruber       PE
67146           Threnetes niger       PE

[3500 rows x 2 columns]

In [104]:
df3 = df_2.drop_duplicates(subset=['scientific_name'], keep=False)

In [85]:
df_2['scientific_name'].value_counts()

Crocodylus niloticus          247
Python reticulatus            225
Psittacus erithacus           167
Loxodonta africana            158
Alligator mississippiensis    149
                             ...
Bulbophyllum mentosum           1
Bulbophyllum meridense          1
Bulbophyllum microglossum       1
Bulbophyllum mindanaense        1
Threnetes niger                 1
Name: scientific_name, Length: 6382, dtype: int64

In [75]:
df_2['Origin'].isna().sum()

13546

In [76]:
df_2['Exporter'].isna().sum()

39

In [125]:
df_concat_4 = pd.merge(iucn_df_2, df3, on='scientific_name', how='left')

In [126]:
df_concat_4['scientific_name'].value_counts()

Hexanchus griseus           1
Ctenotus kurnbudj           1
Treron aromaticus           1
Asthenes hudsoni            1
Phapitreron maculipectus    1
                           ..
Tarentola raziana           1
Tarentola gigas             1
Tarentola boavistensis      1
Gastropholis prasina        1
Loxodonta africana          1
Name: scientific_name, Length: 18454, dtype: int64

In [155]:
df_concat_4.to_csv('data/iucn_export.csv')
#concatenated with exporter countries

In [129]:
df_concat_4['Exporter'].value_counts()

ID    60
MG    40
US    21
AU    18
CN    15
      ..
BS     1
KY     1
AT     1
UG     1
DK     1
Name: Exporter, Length: 63, dtype: int64

In [132]:
df_concat_4['Exporter'].isna().sum()

18138

In [144]:
df_5 = pd.read_csv('data/comptab.csv')

In [145]:
df_5.columns

Index(['Year', 'App.', 'Taxon', 'Class', 'Order', 'Family', 'Genus',
       'Importer', 'Exporter', 'Origin', 'Importer reported quantity',
       'Exporter reported quantity', 'Term', 'Unit', 'Purpose', 'Source'],
      dtype='object')

In [146]:
df_5 = df_5.drop(['Year', 'App.','Class','Order',
                  'Genus', 'Importer reported quantity', 'Term', 'Unit', 'Purpose',
                  'Source', 'Exporter reported quantity','Importer', 'Family', 'Exporter'], axis = 1)

In [153]:
df_5 = df_5.dropna()

In [158]:
df_5

               scientific_name Origin
632         Cheirogaleus major     XX
888            Jabiru mycteria     BR
3202           Panthera hybrid     RU
3917            Eulemur mongoz     XX
3964            Lepilemur spp.     XX
...                        ...    ...
65322         Coralliidae spp.     XX
65795  Dactylocnemis pacificus     DE
65973         Martes flavigula     RU
66094          Odobenidae spp.     XX
66952    Phyllomedusa sauvagii     US

[171 rows x 2 columns]

In [160]:
df_concat_5 = pd.merge(df_concat_4, df_5, on='scientific_name', how='left')

In [173]:
df_concat_5.to_csv('data/iucn_df_fri.csv')

In [157]:
df_5 = rename_columns_df2(df_5)

C:\Users\Monika\AppData\Local\Temp\ipykernel_23752\1010973329.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.rename(columns={'Taxon':'scientific_name'}, inplace=True )

In [ ]:
# Merge columns with priority to Column B
df['Merged Column'] = df['Column B'].fillna(df['Column A'])

# Display the resulting DataFrame
print(df)

In [148]:
df_5 = df_5.drop_duplicates(subset=['Taxon'], keep=False)

In [150]:
df_5['Origin'].isna().sum()

2253

In [42]:
df_concatenated['Origin'].value_counts()

XX    1322
ZW    1246
VN     959
ZA     771
FR     684
      ...
SR       1
RO       1
LV       1
VU       1
GQ       1
Name: Origin, Length: 138, dtype: int64

In [44]:
df_concatenated['Origin'].isna().sum()

13594

In [46]:
df_concatenated['Exporter'].value_counts()

FR    2024
IT    1886
DE    1864
ID    1656
US    1653
      ...
PF       1
SM       1
AQ       1
PY       1
KM       1
Name: Exporter, Length: 175, dtype: int64

In [49]:
df_concatenated['Exporter'].isna().sum()

654

In [50]:
df_concatenated.to_csv('data/df_concatenated.csv')
#df of concatenated scientific name and exporter and origin

In [60]:
df_concatenated.duplicated().sum()

19094

In [54]:
df_3 = pd.read_excel('data/exporter_df.xlsx')

In [55]:
df_3

    Exporter   latitude  longitude               country
0         AD  42.546245   1.601554               Andorra
1         AE  23.424076  53.847818  United Arab Emirates
2         AF  33.939110  67.709953           Afghanistan
3         AG  17.060816 -61.796428   Antigua and Barbuda
4         AI  18.220554 -63.068615              Anguilla
..       ...        ...        ...                   ...
240       YE  15.552727  48.516388                 Yemen
241       YT -12.827500  45.166244               Mayotte
242       ZA -30.559482  22.937506          South Africa
243       ZM -13.133897  27.849332                Zambia
244       ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [56]:
df_concat_2 = pd.merge(df_concatenated, df_3, on='Exporter', how='inner')

In [57]:
df_concat_2

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,Exporter,Origin,latitude,longitude,country
0,Indotestudo forstenii,Critically Endangered,2021,2018,Decreasing,Terrestrial,Australasian,Global,Vertebrates,Reptiles,ID,NaN,-0.789275,113.921327,Indonesia
1,Indotestudo forstenii,Critically Endangered,2021,2018,Decreasing,Terrestrial,Australasian,Global,Vertebrates,Reptiles,ID,NaN,-0.789275,113.921327,Indonesia
2,Indotestudo forstenii,Critically Endangered,2021,2018,Decreasing,Terrestrial,Australasian,Global,Vertebrates,Reptiles,ID,NaN,-0.789275,113.921327,Indonesia
3,Indotestudo forstenii,Critically Endangered,2021,2018,Decreasing,Terrestrial,Australasian,Global,Vertebrates,Reptiles,ID,NaN,-0.789275,113.921327,Indonesia
4,Indotestudo forstenii,Critically Endangered,2021,2018,Decreasing,Terrestrial,Australasian,Global,Vertebrates,Reptiles,ID,NaN,-0.789275,113.921327,Indonesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24599,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,AD,XX,42.546245,1.601554,Andorra
24600,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,SZ,NaN,-26.522503,31.465866,Swaziland
24601,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,BW,NaN,-22.328474,24.684866,Botswana
24602,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,BW,NaN,-22.328474,24.684866,Botswana
24603,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,BW,NaN,-22.328474,24.684866,Botswana