### Data Cleaning continued

In [2]:
# Continuing in a new notebook with saved df after Wed-Thu's work

### Importing libraries

In [1]:
import pandas as pd

### Importing data

In [3]:
iucn_df = pd.read_csv('data/iucn_df_day2.csv')

In [6]:
iucn_df = iucn_df.drop(['Unnamed: 0'], axis = 1)
#dropping the unnamed axis

In [12]:
iucn_df.head()

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes

### Cleaning the assessment date

In [10]:
iucn_df['assessment_date'] = iucn_df['assessment_date'].astype(str).str[:4]
#code only keeps the first 4 letters in a string and removes the rest

### Checking for NaN's in columns, cnt

In [13]:
iucn_df['assessment_date'].isna().sum()

0

In [14]:
iucn_df['systems'].isna().sum()

0

In [15]:
iucn_df['region'].isna().sum()

1452

In [16]:
iucn_df['habitat'].isna().sum()

3

In [17]:
iucn_df['phylum_name'].isna().sum()

0

In [18]:
iucn_df['class_name'].isna().sum()

0

In [19]:
# checking what the habitat looks like by looking at the nan values 
filtered_df = iucn_df[iucn_df['habitat'].isna()]

In [21]:
filtered_df

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name
19328,Crocodylus niloticus,Vulnerable,2017,2017,Decreasing,Freshwater & Marine,Afrotropical,NaN,Vertebrates,Reptiles
19700,Felis silvestris,Endangered,2018,2018,Decreasing,Terrestrial,Afrotropical|Palearctic,NaN,Vertebrates,Mammals
19814,Bubo milesi,Endangered,2019,2019,Unknown,Terrestrial,Afrotropical,NaN,Vertebrates,Birds

In [22]:
iucn_df['habitat'].value_counts()

Global                                      16182
Global & Europe                              1100
Europe                                        512
Global, Europe & Mediterranean                439
Mediterranean                                 331
Global, Eastern Africa & Pan-Africa           298
Global, Central Africa & Pan-Africa           223
Global, Pan-Africa & Western Africa           143
Northern Africa                                71
Global & Mediterranean                         63
Gulf of Mexico                                 57
Global, Pan-Africa & S. Africa FW              52
Global, Northern Africa & Pan-Africa           51
Western Africa                                 45
Persian Gulf                                   44
Eastern Africa                                 41
Pan-Africa                                     26
Global & Pan-Africa                            26
Global & Caribbean                             26
Central Africa                                 24
Northern Africa & Pan-Africa                   21
Global, Northeastern Africa & Pan-Africa       20
Global, Caribbean & Gulf of Mexico             13
Global & Arabian Sea                           12
S. Africa FW                                    6
Northeastern Africa                             5
Pan-Africa & S. Africa FW                       3
Europe & Mediterranean                          1
Name: habitat, dtype: int64

In [25]:
#checking what region looks like
iucn_df['region'].value_counts()

Neotropical                                                            4751
Palearctic                                                             3351
Afrotropical                                                           3080
Indomalayan                                                            2906
Australasian                                                           1702
                                                                       ...
Indomalayan|Nearctic|Neotropical|Oceanian|Palearctic                      1
Australasian|Indomalayan|Oceanian                                         1
Afrotropical|Antarctic|Australasian|Neotropical|Oceanian|Palearctic       1
Antarctic|Australasian                                                    1
Afrotropical|Australasian|Indomalayan|Neotropical                         1
Name: region, Length: 64, dtype: int64

In [30]:
df_names = pd.read_excel('data/common_names.xlsx', index_col=0)

In [33]:
df_names

Empty DataFrame
Columns: []
Index: [C=AalDNV, N=Adeno-associated virus 2, C=AAV-2, N=Adeno-associated virus 2 (isolate Srivastava/1982), C=AAV-2, N=Abacion magnum, C=Millipede, N=Abaeis nicippe, C=Sleepy orange butterfly, S=Eurema nicippe, N=Abax parallelepipedus, C=Ground beetle, N=Abalistes stellaris, C=Starry triggerfish, S=Balistes stellaris, N=Abbottina rivularis, C=Chinese false gudgeon, S=Gobio rivularis, N=Abdopus aculeatus, C=Algae octopus, S=Octopus aculeatus, N=Antarctic bacterium DS2-3R, N=Abelia chinensis, C=Chinese abelia, N=Abelmoschus ficulneus, C=Native rosella, N=Abelia grandiflora, C=Glossy abelia, S=Abelia chinensis x Abelia uniflora, N=Abelmoschus manihot, C=Sweet hibiscus, S=Hibiscus manihot, N=Abalone herpesvirus (isolate Abalone/Australia/Victoria/2009), C=AbHV, N=Abies alba, C=Edeltanne, S=European silver fir, N=Abies balsamea, C=Balsam fir, S=Pinus balsamea, N=Abies beshanzuensis, C=Baishan fir, N=Abies bracteata, C=Bristle-cone fir, S=Pinus bracteata, N=Abies concolor, C=White fir, S=Picea concolor, N=Abiotrophia defectiva, S=Streptococcus defectivus, N=Abies firma, C=Momi fir, N=Abies fraseri, C=Fraser fir, S=Pinus fraseri, N=Abisara fylloides, C=Judy butterfly, N=Abies grandis, C=Grand fir, S=Pinus grandis, N=Abies holophylla, C=Neddle fir, S=Manchurian fir, N=Abies homolepis, C=Nikko fir, N=Abies koreana, C=Korean fir, N=Abies lasiocarpa, C=Subalpine fir, S=Pinus lasiocarpa, N=Abies magnifica, C=Red fir, N=Abies mariesii, C=Marie's fir, N=Abies nebrodensis, C=Sicilian fir, N=Abies nordmanniana, C=Caucasian fir, S=Pinus nordmanniana, N=Abies sachalinensis, C=Sakhalin fir, S=Abies veitchii var. sachalinensis, N=Abies veitchii, C=Veitch fir, N=Ablepharus budaki, C=Budak's snake-eyed skink, S=Ablepharus kitaibellii subsp. budaki, N=Ablennes hians, C=Flat needlefish, S=Belone hians, N=Ablepharus kitaibelii, C=Snake-eyed skink, N=Australian bat lyssavirus (isolate Bat/AUS/1996), C=ABLV, N=Australian bat lyssavirus (isolate Human/AUS/1998), C=ABLV, N=Abutilon mosaic virus (isolate West India), C=AbMV, N=Acute bee paralysis virus (strain Rothamsted), C=ABPV, ...]

[58439 rows x 0 columns]